*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#333;
    width: 100vw;
    height: 100vh;
}
.converter{
    display:grid;
    width:500px;
    height: 300px;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-color: #333;
    display: grid;
    padding: 5px;
    row-gap: 3px;
    border-radius: 5px;
}
.kg{
    background-color: green;
    border-radius: 6px;
}
.gram{
    background-color: blueviolet;
    border-radius: 6px;
}
.pound{
    background-color: lightcoral;
    border-radius: 6px;
}
.input{
    background-color: #fff;
    border-radius: 6px;
}
h1{
    color:white;
    font-size: 3rem;

}
.h1{
    border-radius: 6px;
}